.galaxy-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0; /* FIX: Pulled out of the negative zone */
  background: #020204; /* True deep space black */
  overflow: hidden;
}

.galaxy-container {
  width: 100%;
  height: 100%;
}

.galaxy-container canvas {
  display: block;
  width: 100%;
  height: 100%;
  outline: none;
}